In [194]:
!pip install matplotlib==3.7.3

Requirement already satisfied: matplotlib==3.7.3 in c:\users\me\appdata\local\programs\python\python311\lib\site-packages (3.7.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\me\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.7.3) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\me\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.7.3) (0.12.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\me\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.7.3) (4.43.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\me\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.7.3) (1.4.5)
Requirement already satisfied: numpy<2,>=1.20 in c:\users\me\appdata\roaming\python\python311\site-packages (from matplotlib==3.7.3) (1.23.5)
Requirement already satisfied: packaging>=20.0 in c:\users\me\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.7.3) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\me\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.7.3) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\me\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.7.3) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\me\appdata\local\programs\python\python311\lib\site-packages (from matplotlib==3.7.3) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\me\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib==3.7.3) (1.16.0)

In [ ]:
!pip install ydata_profiling==4.5.1

In [192]:
import pandas as pd
import numpy as np
import copy
%matplotlib inline

In [193]:
import ydata_profiling

C:\Users\Me\AppData\Local\Programs\Python\Python311\Lib\site-packages\numba\core\decorators.py:262: NumbaDeprecationWarning: numba.generated_jit is deprecated. Please see the documentation at: https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-generated-jit for more information and advice on a suitable replacement.
  warnings.warn(msg, NumbaDeprecationWarning)
C:\Users\Me\AppData\Roaming\Python\Python311\site-packages\visions\backends\shared\nan_handling.py:50: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @nb.jit

In [164]:
path_dataset = "../datasets/tonetags_dataset_tumblr.csv"

In [165]:
def str_to_list(value):
    list_values = value.strip('[]').split(', ')
    cleaned_list_values = [item[1:-1] for item in list_values]
    return cleaned_list_values

In [166]:
df1 = pd.read_csv(path_dataset, index_col=0, converters={"tags": str_to_list})
# df = pd.read_csv(path_dataset, index_col=0)

In [167]:
df1.shape

(379191, 7)

In [168]:
df1.head()

,Unnamed: 0,timestamp,URL,blogName,title,tags,text
0,0.0,2024-03-31 14:49:00 GMT,https://two-hearts-beat.tumblr.com/post/746477...,two-hearts-beat,NaN,"[üôà, genuine question]",we‚Äôve all talked about the ‚Äògifted child‚Äô to s...
1,1.0,2024-03-31 14:12:40 GMT,https://miniatureketchupbottles.tumblr.com/pos...,miniatureketchupbottles,NaN,"[genuine question, like actually where do peop...",Is the concept of straight girls religiously w...
2,2.0,2024-03-31 09:08:46 GMT,https://www.tumblr.com/blog/view/writtenkiss/7...,writtenkiss,NaN,"[Íí∞Õ° ùêíùêáùêàùêìùêèùêéùêíùêìùêàùêçùêÜ ‚Äî piofiore. üå±, genuine questio...",I am sincerely curious. Has some of you ever w...
3,3.0,2024-03-31 05:06:36 GMT,https://silly-abro.tumblr.com/post/74644098511...,silly-abro,NaN,"[Scene, emo, rawr x3, genuine question, I gues...",Bro idk how people look so fucking good in the...
4,4.0,2024-03-31 03:18:52 GMT,https://www.tumblr.com/blog/view/bet-h/7464342...,bet-h,NaN,"[why do tumblr talk in tags, like why, genuine...",Ur mom

In [169]:
df2 = df1[['tags', 'text']]

In [170]:
df2.head()

,tags,text
0,"[üôà, genuine question]",we‚Äôve all talked about the ‚Äògifted child‚Äô to s...
1,"[genuine question, like actually where do peop...",Is the concept of straight girls religiously w...
2,"[Íí∞Õ° ùêíùêáùêàùêìùêèùêéùêíùêìùêàùêçùêÜ ‚Äî piofiore. üå±, genuine questio...",I am sincerely curious. Has some of you ever w...
3,"[Scene, emo, rawr x3, genuine question, I gues...",Bro idk how people look so fucking good in the...
4,"[why do tumblr talk in tags, like why, genuine...",Ur mom

In [171]:
file_path = "../tonetags.txt"

tone_tags = {}

with open(file_path, 'r', encoding='utf-8') as file:
	for line in file:
		key, value = line.strip().split(':')
		tone_tags[key.strip()] = value.strip().split(',')

for key, values in tone_tags.items():
	print(f"{key}: {values}")

affectionate: ['affectionate', '/a']
copypasta: ['copypasta', 'copypaste', 'repeated text', '/c']
clickbait: ['clickbait', '/cb']
fake: ['fake', '/f']
genuine: ['genuine', '/g', '/gen']
genuine question: ['genuine question', '/genq']
half joking: ['half joking', 'half-joking', 'half joke', 'half-joke', 'halfjoke', '/hf']
hyperbole: ['hyperbole', '/hyp']
inside joke: ['inside joke', 'insidejoke', 'insidejoking', 'inside-joke', 'inside-joking', '/ij']
joking: ['joking', 'joke', '/j']
lyrics: ['lyrics', '/l', '/ly']
light-hearted: ['light-hearted', 'light hearted', 'lighthearted', '/lh']
literal: ['literal', 'literally', '/li']
little upset: ['little upset', 'littleupset', 'little-upset', '/lu-a', '/lu']
metaphorical: ['metaphorical', '/m']
not a vent: ['not a vent', 'notavent', 'not-a-vent', '/nav']
nobody here: ['nobodyhere', 'nobody-here', '/nbh']
negative connotation: ['negative connotation', 'negetiveconnotation', 'negative-connotation', '/neg', '/ng']
neutral connotation: ['neutral connotation', 'neutralconnotation', 'neutral-connotation', '/neu']
not forced: ['not forced', 'not-forced', 'notforced', '/nf']
not mad: ['not mad', 'not-mad', 'notmad', '/nm']
not passive aggressive: ['not passive aggressive', 'not passive-aggressive', 'not-passive-aggressive', 'notpassiveaggressive', '/npa']
not subtweeting: ['not subtweeting', 'notsubtweeting', '/nsb']
non-serious: ['non-serious', 'non serious', 'nonserious', 'not serious', 'not-serious', 'notserious', '/nsrs']
non-sexual intent: ['non-sexual intent', 'not-sexual intent', 'non-sexual-intent', 'nonsexualintent', 'not-sexual-intent', 'notsexualintent', '/nsx', '/nx']
platonic: ['platonic', '/p']
passive aggressive: ['passive aggressive', 'passive-aggressive', '/pa']
positive connotation: ['positive connotation', 'positive-connotation', 'positiveconnotation', '/pos', '/pc']
quote: ['quote', '/q']
romantic: ['romantic', '/r']
reference: ['reference', '/ref']
rhetorical: ['rhetorical', 'rhetorical question', 'rhetorical-question', 'rhetoricalquestion', '/rh', '/rt']
sarcastic: ['sarcastic', 'sarcasm', '/s']
serious: ['serious', '/srs']
sexual intent: ['sexual intent', ' sexualintent', 'sexual-intent', '/x', '/sx']
teasing: ['teasing', '/t']
threat: ['threat', '/th']
ironic: ['ironic', '/iron']
not at you: ['not at you', 'not-at-you', 'notatyou', '/nay']
nothing personal: ['nothing personal', 'nothing-personal', 'nothingpersonal', '/np']

In [172]:
df3 = df2.copy()

In [173]:
def replace_values(tags_list):
    return [key for key, value in tone_tags.items() if any(tag.lower() in value for tag in tags_list)]

In [174]:
df3['tags'] = df2['tags'].apply(replace_values)

In [175]:
df3

,tags,text
0,[genuine question],we‚Äôve all talked about the ‚Äògifted child‚Äô to s...
1,[genuine question],Is the concept of straight girls religiously w...
2,[genuine question],I am sincerely curious. Has some of you ever w...
3,[genuine question],Bro idk how people look so fucking good in the...
4,[genuine question],Ur mom
...,...,...
3604575,"[lyrics, nothing personal]",NaN
3604576,[nothing personal],Posted on AlterThePress.com on Thursday Septem...
3604577,[nothing personal],Couldn't Get Post Body
3604578,[nothing personal],Couldn't Get Post Body
3604579,[nothing personal],Couldn't Get Post Body

In [176]:
list_with_empty_tags = df3[df3['tags'].apply(lambda x: len(x) == 0)].index.tolist()
list_with_empty_tags

[1333,
 21152,
 91564,
 1385548,
 1700697,
 1710109,
 1710110,
 1710111,
 1710112,
 1710113,
 1710114,
 1710115,
 1710116,
 1710117,
 1710118,
 1710119,
 1710120,
 1710121,
 1710122,
 1710123,
 1710124,
 1710125,
 1710126,
 1710127,
 1710128,
 1710129,
 1710130,
 1710131,
 1710132,
 1710133,
 1710134,
 1710135,
 1710136]

In [177]:
for id in list_with_empty_tags:
    print(id, df1.loc[id]['tags'])

1333 ["i'm tweaking"]
21152 ["i'm tweaking"]
91564 ["i'm tweaking"]
1385548 ['']
1700697 ["yeah alex it's called seasonal depression", 'this isnt a vent its just a weird babble about this', 'alex babbling']
1710109 ['bored', 'nobody here', 'boyfriend', 'boyfriend hoodie', 'hoodie', 'wine', 'sad times']
1710110 ['welp', 'nobody here', 'gonna go back to watching digimon']
1710111 ['nobody here', '=', 'offline']
1710112 ['sunset corp', 'nobody here']
1710113 ['Nobody here', 'irl stuff', 'just so angry']
1710114 ['me', 'personal', 'work', 'SO SLOW', 'nobody here', 'writing tutor', 'writing workshop', 'writing studio', 'should be', 'making money', 'working']
1710115 ['nobody here', 'chris de burgh', 'radiovalerie', 'late night', 'whimsy']
1710116 ['blu mar ten', 'nobody here', 'kastle', 'remix', 'could you want me', 'purple']
1710117 ['nobody here', 'lady in red', 'graphics', 'chris deburgh']
1710118 ['NOBODY HERE', 'audio']
1710119 ['Blue Mar Ten', 'Nobody here', 'Kastle']
1710120 ['nobody here']
1710121 ['Blu Mar Ten', 'nobody here', 'kastle remix', 'drum and bass', 'dnb', 'liquid', 'music']
1710122 ['nobody here', 'blu mar ten', 'kastle', 'dubstep', 'amazing']
1710123 ['nobody here', 'i go sleep', 'hurr for malaysian time', "all the fun stuff happens when i'm not around", 'like jon kissing stana', 'or that benedict dancing video', 'meh...', 'al well', 'imma back in birt time zone in january', "so i'd better stop rambling and go to sleep", 'fangirly dreams here i come', 'nanight all', ':D']
1710124 ['Nobody Here']
1710125 ['Blu Mar Ten', 'Nobody Here', 'Kastle VIP', 'Remix', 'bass', 'dubstep', 'heavy', '2011', 'preview']
1710126 ['nobody here', 'vagueblogging sorry', "seriously though jesus christ are you so self-centered and passive-aggressive that you can't conceive of someone disliking you for a reason", 'you little TURD']
1710127 ['blu mar ten', 'kastle', 'remix', 'nobody here', 'dubstep', 'fucking to dubstep']
1710128 ['music', 'blu mar ten', 'nobody here', 'kastle', 'remix', 'dubstep']
1710129 ['nobody here', 'just thinking']
1710130 ['Blu Mar Ten', 'Nobody Here', 'Kastle remix', 'liquid', 'liquid drum and bass', 'drum n bass', 'drum and bass', 'dnb', 'drum &amp; bass']
1710131 ['Nobody Here', 'Things To Remember']
1710132 ['dead', 'tumblr', 'nobody here']
1710133 ['nobody here', 'sunset corp']
1710134 ['sunsetcorp', 'thanks ian', 'nobody here']
1710135 ['nobody here', 'lady in red', 'sunsetcorp', 'oneohtrix point never', 'chris D burgh', 'youtube', 'music video', 'music', 'video', 'electronic music', 'experimental', 'eighties']
1710136 ['Rainbow Road', 'Nobody Here']

In [178]:
df4 = df3[df3['tags'].apply(lambda x: len(x) != 0)]

In [181]:
df5 = df4.explode('tags')

In [182]:
df5

                     tags                                               text
0        genuine question  we‚Äôve all talked about the ‚Äògifted child‚Äô to s...
1        genuine question  Is the concept of straight girls religiously w...
2        genuine question  I am sincerely curious. Has some of you ever w...
3        genuine question  Bro idk how people look so fucking good in the...
4        genuine question                                             Ur mom
...                   ...                                                ...
3604575  nothing personal                                                NaN
3604576  nothing personal  Posted on AlterThePress.com on Thursday Septem...
3604577  nothing personal                             Couldn't Get Post Body
3604578  nothing personal                             Couldn't Get Post Body
3604579  nothing personal                             Couldn't Get Post Body

[388180 rows x 2 columns]

In [183]:
df6 = df5.drop_duplicates()

In [184]:
df6

                     tags                                               text
0        genuine question  we‚Äôve all talked about the ‚Äògifted child‚Äô to s...
1        genuine question  Is the concept of straight girls religiously w...
2        genuine question  I am sincerely curious. Has some of you ever w...
3        genuine question  Bro idk how people look so fucking good in the...
4        genuine question                                             Ur mom
...                   ...                                                ...
3542685  nothing personal  Nothing Personal. Because their voices are mor...
3542686  nothing personal                               You‚Äôre a douche bag.
3542700  nothing personal  Last year at this time I listened to them twen...
3604568  nothing personal                GIVING YOUR FUCKING BEST IS ENOUGH.
3604576  nothing personal  Posted on AlterThePress.com on Thursday Septem...

[207623 rows x 2 columns]

In [188]:
df7 = df6.dropna(subset=['text'])

In [189]:
df7

                     tags                                               text
0        genuine question  we‚Äôve all talked about the ‚Äògifted child‚Äô to s...
1        genuine question  Is the concept of straight girls religiously w...
2        genuine question  I am sincerely curious. Has some of you ever w...
3        genuine question  Bro idk how people look so fucking good in the...
4        genuine question                                             Ur mom
...                   ...                                                ...
3542685  nothing personal  Nothing Personal. Because their voices are mor...
3542686  nothing personal                               You‚Äôre a douche bag.
3542700  nothing personal  Last year at this time I listened to them twen...
3604568  nothing personal                GIVING YOUR FUCKING BEST IS ENOUGH.
3604576  nothing personal  Posted on AlterThePress.com on Thursday Septem...

[207588 rows x 2 columns]

In [ ]:
df7_profile_report = ydata_profiling.profile_report.ProfileReport(df7)